body {
  color: #0E3757;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  color: #0E3757;
  text-decoration: none;
}

header {
 width: 100vw;
 max-width: 1164px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.logo {
  width: 120px;
  height: 50px;
}

nav {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 120px);
}

nav a {
  width: auto;
  margin: 0 15px;
}

nav .contact {
  background-color: #F56A75;
  padding: 15px;
  color: white;
}

footer {
  width: 100vw;
  background-color: #0E3757;
  color: white;
}

footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  width: 80%;
  max-width: 1164px;
}

footer a {
  color: #F56A75;
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
  
}

/* Wide Mobile Styles */
@media screen and (max-width: 768px) {

}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
  
}
  
  
