body {
  color: #0E3757;
  font-size: 16px;
  font-family: Helvetica;
  margin: 0;
}

/* Shared Elements */
a {
  color: #F56A75;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 15px;
}

h3 {
  font-family: Helvetica;
  font-size: 28px;
  text-align: center;
  color: #0E3757;
  line-height: 1.5;
  margin-bottom: 5px;
  font-weight: normal;
}

.contact {
  padding: 15px;
  color: white;
}

/* Layout based elements */
._full-width-elem {
  width: 100vw;
}

._max-width-elem {
  max-width: 1164px;
}

._narrow-width-elem {
  max-width: 754px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}

/* Header */
header {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
  height: 50px;
}

nav {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 120px);
}

nav a {
  width: auto;
  margin: 0 15px;
  color: #0E3757;
}

nav .contact {
  background-color: #F56A75;
  padding: 15px;
  color: white;
}

/* Footer */
footer {
  background-color: #0E3757;
  color: white;
}

footer .inner {
  height: 100px;
}

footer a {
  color: #F56A75;
}

/* Body */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Messaging */
main h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

main p {
  color: #8D9CA8;
  margin-top: 0;
  margin-bottom: 50px;
}

main .hero {
  width: 80%;
}

/* CTA */
main .cta {
  background-color: #F56A75;
  padding: 20px 0;
}

main .cta .inner {
}

main .cta .inner p {
  color: white;
  font-size: 28px;
  margin: 0;
}

main .cta .inner .contact {
  color: white;
  background-color: #0E3757;
  padding: 15px 30px;
}

/* Dynamic Content / Services */
ul.services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

ul.services li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

ul.services li img {
  width: 150px;
  height: 150px;
}

ul.services li p {
  font-size: 20px;
  color: #8D9CA8;
  text-align: center;
  line-height: 1.5;
}

/* Quote */
main .quote {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px 0;
}

main .quote p {
  margin: 0;
  text-align: left;
  position: relative;
  padding-left: 100px;
}

main .quote p:first-of-type {
  color: #0E3757;
}

main .quote p:first-of-type::before {
  width: 50px;
  height: 33px;
  display: block;
  content: ' ';
  background-image: url('images/speach-marks.svg');
  background-size: 50px 33px;
  position: absolute;
  left: 20px;
  top: 10px;
}

main .quote p.author {
  font-size: 18px;
  color: #8D9CA8;
}

/* Form */

form, form section, form section p {
  display: flex;
  flex-direction: column;
}

form section p {
  text-align: left;
  color: #0E3757;
  font-size: 16px;
  margin-bottom: 20px;
}

form section p span.helper {
 color: #8D9CA8;
 font-size: 14px;
}

form section p .error {
  font-size: 14px;
  color: #D0021B;
  opacity: 0;
}

form section input, form section textarea {
  color: #0E3757;
  border: 2px solid #DADADA;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  transition: all 0.4s;
}

form section input:focus, form section textarea:focus {
  border-color: #0E3757;
}

form section input#mail:valid {
  border-color: green;
}

form section input#mail:invalid {
  border-color: #D0021B;
}

form section input#mail:invalid span.error, form section span.error {
  opacity: 0;
}

form section input#mail:invalid + span.error {
 opacity: 1;
}

form section textarea { 
  position: relative;
  height: 170px;
}

form section textarea::placeholder {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

form section input::placeholder, form section textarea::placeholder {
  font-family: Helvetica;
  font-size: 16px;
  color: #9B9B9B;
}

form section:last-of-type p {
  align-items: flex-end;
}

form section .contact {
  background-color: #0E3757;
  padding: 15px 30px;
  width: 120px;
  float: right;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
  ul.services {
    display: flex;
    flex-direction: column;
  }
  /* main h2 {
    margin-top: 50px;
    margin-bottom: 15px;
  } */
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
    line-height: 1.5;
  }
  p {
    font-size: 20px;
  }
  ul.services li p {
    font-size: 16px;
  }
  ul.services {
    margin: 0;
    padding: 0;
  }
  ul.services li {
    max-width: 320px;
  }
  ._max-width-elem {
    max-width: none;
  }
  ._narrow-width-elem {
    max-width: 600px;
    padding: 0;
  }
  main .cta .inner {
    display: flex;
    flex-direction: column;
  }
  main .cta .inner p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  main .cta .inner a {
    width: calc(100% - 30px);
    text-align: center;
  }
  .form-wrapper {
    padding-right: 15px;
  }
  footer .inner {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  footer .inner p {
    font-size: 16px;
    order: 2;
    margin-top: 30px;
  }
}

/* Wide Mobile Styles */
@media screen and (max-width: 768px) {
  ._narrow-width-elem {
    max-width: 320px;
    padding: 0 15px;
  }
  main .quote p {
    font-size: 20px;
    padding-left: 60px;
  }
  main .quote p:first-of-type::before {
    width: 30px;
    height: 20px;
    display: block;
    content: ' ';
    background-image: url('images/speach-marks.svg');
    background-size: 30px 20px;
    position: absolute;
    left: 10px;
    top: 7px;
  }
}

@media screen and (max-width: 480px) {
  
}
  
